@tailwind base;

*:focus {
  outline: none !important;
}

body {
  background-color: #111111;
  background-image: url('/topography.svg');
  color: white;
  -webkit-tap-highlight-color: transparent;
}

.size {
  width: 17rem;
  height: 17rem;
}

.glow {
  text-shadow: 2px 8px 30px #705dcf;
}

@tailwind components;
@tailwind utilities;
