@tailwind base;

/* try @apply / using tailwind values for variables */
:root {
  --color-primary-main: #705dcf;
  --color-primary-light: #8c7dd8;
  --color-primary-dark: #4e4190;
  --color-bg: #111111;
}

*:focus {
  outline: none !important;
}

body {
  background-color: #111111;
  background-image: url('/topography.svg');
  color: white;
  -webkit-tap-highlight-color: transparent;
}

@screen lg {
  body {
    overscroll-behavior: none;
  }
}

.size {
  width: 17rem;
  height: 17rem;
}

.glow {
  text-shadow: 2px 8px 30px #705dcf;
}

@tailwind components;
@tailwind utilities;
