@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @screen lg {
    html,
    body {
      height: 100vh;
      -webkit-tap-highlight-color: transparent;
    }
  }
}

@layer utilities {
  .glow {
    text-shadow: 2px 8px 30px #705dcf;
  }
  .cursor-zoom-in {
    cursor: zoom-in;
  }
}
