@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *[id] {
    scroll-margin-top: 6rem;
  }
  a,
  button {
    @apply focus:outline-none focus:ring-2 focus:ring-offset-4 focus:ring-offset-gray-900 focus:ring-indigo-400 focus:ring-opacity-75;
    -webkit-tap-highlight-color: transparent;
  }
  @screen lg {
    html,
    body {
      height: 100vh;
      -webkit-tap-highlight-color: transparent;
    }
  }
}

@layer utilities {
  .glow {
    text-shadow: 2px 8px 30px #705dcf;
  }
  .cursor-zoom-in {
    cursor: zoom-in;
  }
}

div.carousel > *:focus {
  box-shadow: none !important;
}
